#page7{
    height: 150vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .main-bg{
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .bg1{
        position: absolute;
        top: 7.5vw;
    }

    .bg2{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .content{
        height: 100%;
        width: 100%;
        margin-top: 10vw;
        position: absolute;

        .title{
            position: relative;
            left: 40vw;
            

            .title-bg-img{
                position: absolute;
                width: 14vw;
            }

            h6{
                position: absolute;
                top: 0.6vw;
                left: 2.5vw;
                font-size: 1vw;
                color: #fff;
            }
        }

        h1{
            font-size: 2vw;
            position: absolute;
            left: 37vw;
            top: 3.3vw;
        }

        p{
            position: absolute;
            left: 30vw;
            top: 7vw;
            text-align: center;
            font-size: 0.95vw;
            width: 35%;
            font-weight: 500;
            color: #807e7e;
        }

        .cards{
            position: relative;
            top: 12vw;
            display: flex;
            gap: 2vw;
            margin-left: 11vw;

            .card{
                height: 95vh;
                width: 25vw;
                box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
                background-color: #4784A3;

                .card-top{
                    height: 35%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FF0034;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        filter: grayscale(100%);
                    }

                    .box{
                        height: 7vh;
                        position: absolute;
                        top: 12.6vw;
                        width: 15vw;
                        display: flex;
                          align-items: center;
                         justify-content: center;
                         color: #333;
                        background-color: #fff;

                        h6{
                            font-size: 1.3vw;
                        }
                    }
                }

                .card-top:hover{
                    img{
                        filter: grayscale(0);
                    }

                    .box h6{
                        color: #FF0034;
                    }
                }

                .card-btm{
                    height: 65%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;

                    .plan{
                        width: 10vw;
                        height: 5vw;
                        display: flex;
                        top: 0vw;
                        position: relative;

                        h6{
                            position: absolute;
                            font-weight: 400;
                            color: #7d7c7c;
                            font-size: 2vw;
                        }

                        h1{
                            position: absolute;
                            top: 0.1vw;
                            left: 2vw;
                            font-size: 3.2vw;
                        }

                        p{
                            position: absolute;
                            left: 6.5vw;
                            top: 1.5vw;
                            font-size: 1.6vw;
                            font-weight: 400;
                            color: #7d7c7c;
                        }
                    }

                    .h6{
                        text-align: center;

                        h6{
                            font-size: 1vw;
                            margin-top: 1vw;
                            font-weight: 500;
                            color: #7d7c7c;
                        }
                    }

                    .btn{
                        position: relative;
                        height: 10vh;
                        width: 15vw;
                        margin-top: 3vw;
        
                        .box{
                            position: absolute;
                            padding: 1.4vw 6.8vw;
                            left: 1vw;
                            top: 0vw;
                            background-color: transparent;
                            border: 1px solid #FF0034;
                            transition: all ease 0.5s;
                        }
        
                        .main-btn{
                            position: absolute;
                            top: 1.2vw;
                            border: 0;
                            display: flex;
                            align-items: center;
                            font-size: 1vw;
                            font-weight: 700;
                            padding: 1vw 1.6vw;
                            background-color: #FF0034;
                            color: #fff;
        
                            .arrow{
                               margin-left: 0.6vw;
                                color: #fff;
                            }
                        }
                    }
        
                    .btn:hover {
                        .box{
                            top: 1.5vw;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    #page7{
        height: 320vh !important;
    
        .content{
            margin-top: 15vw !important;
    
            .title{
                left: 20vw !important;
                
    
                .title-bg-img{
                    width: 50vw !important;
                }
    
                h6{
                    top: 1.5vw !important;
                    left: 8vw !important;
                    font-size: 4vw !important;
                }
            }
    
            h1{
                font-size: 9.5vw !important;
                left: 5vw !important;
                top: 10vw !important;
                text-align: center;
            }
    
            p{
                left: 5vw !important;
                top: 35vw !important;
                font-size: 5vw !important;
                width: 90% !important;
            }
    
            .cards{
                top: 70vw !important;
                flex-direction: column;
                margin-left: 5vw !important;
    
                .card{
                    height: 90vh !important;
                    width: 90vw !important;
    
                    .card-top{
                        height: 30% !important;
    
                        .box{
                            top: 41vw !important;
                            width: 70vw !important;
    
                            h6{
                                font-size: 5.2vw !important;
                            }
                        }
                    }
    
                    .card-btm{
                        height: 70% !important;
    
                        .plan{
                            width: 35vw !important;
                            height: 12vw !important;
                            top: -10vw !important;
    
                            h6{
                                font-size: 6vw !important;
                            }
    
                            h1{
                                top: 0vw !important;
                                font-size: 13vw !important;
                            }
    
                            p{
                                left: 18vw !important;
                                top: 5vw !important;
                                font-size: 6vw !important;
                            }
                        }
    
                        .h6{
    
                            h6{
                                font-size: 5vw !important;
                                margin-top: 3vw !important;
                            }
                        }
    
                        .btn{
                            height: 10vh !important;
                            width: 70vw !important;
                            margin-top: 20vw !important;
            
                            .box{
                                padding: 4.5vw 25vw !important;
                                left: 5vw !important;
                                top: -3vw !important;
                            }
            
                            .main-btn{
                                top: 1.2vw;
                                font-size: 4vw !important;
                                padding: 3vw 5vw !important;
            
                                .arrow{
                                   margin-left: 2vw !important;
                                }
                            }
                        }
            
                        .btn:hover {
                            .box{
                                top: 1vw !important;
                                left: 0vw !important;
                            }
                        }
                    }
                }
            }
        }
    }
}