.main-schedule{
    overflow: hidden;
    width: 100%;
    position: relative;

    #content{
        width: 100%;
        position: relative;
        margin-left: 10vw;

        .buttons{
            height: 15vh;
            width: 100%;
            position: absolute;
            top: 5vw;
            left: 3vw;

            button{
                padding: 0.7vw 2.3vw;
                font-size: 1vw;
                font-weight: 700;
                background-color: transparent;
                border: 1px solid #ccc;
                border-radius: 20vw;
                margin-left: 0.5vw;

                &:focus {
                    outline: none; /* Remove default focus outline */
                  }
                
                  &.active {
                      border: 0;
                    background-color: #FF0336;
                    color: #fff;
                  }

            }
        }

        .day{

            position: relative;
            display: none;
            width: 100%;
            top: 10vw;
            height: 90vh;
            text-align: center;
        }

        .day.active{
            display: block;
        }
    }
}