.main-running{
    height: 100vh;
    width: 100%;
    display: flex;

    .left{
        height: 100%;
        width: 50%;
        padding-top: 8vw;
       padding-left: 9vw;

        .top{
            position: relative;

            .titlebg{
                position: absolute;
                width: 13vw;
            }
            h1{
                position: absolute;
                top: 0.4vw;
                left: 2.5vw;
                font-size: 1vw;
                font-weight: 700;
                color: #fff;
            }
        }

        .mid1{
            h5{
                font-size: 2.2vw;
                margin-top: 5vw;
            }

            p{
                font-size: 1vw;
                margin-top: 1vw;
                font-weight: 600;
                width: 87%;
                line-height: 1.4;
                color: rgb(154, 154, 154);
            }

            .elems{
                width: 100%;
                margin-top: 2vw;
                display: flex;

                .elem-img{
                    width: 4vw;
                    margin-left: 3vw;
                    margin-bottom: 1vw;
                }

                h6{
                    font-size: 1vw;
                    width: 80%;
                    text-align: center;
                }

                .elem2{
                    border-left: 1px solid gray;
                    border-right: 1px solid gray;
                }

                .elem{
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                }

                
            }

            .btm1{
                position: relative;
                height: 10vh;
                width: 13vw;
                top: 15vh;
    
                .box{
                    position: absolute;
                    top: 0vw;
                    left: 1vw;
                    padding: 1.5vw 5.8vw;
                    background-color: transparent;
                    border: 1px solid rgb(84, 80, 80);
                    transition: all ease 0.5s;
                }
    
                button{
                    position: absolute;
                    top: 1vw;
                    padding: 1.1vw 2vw;
                    font-size: 1.1vw;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #fff;
                    background-color: rgb(84, 80, 80);
                    outline: none;
                    border: 0;
                    transition: all ease 0.5s;
                }
    
                
            }
        }

        .mid2{
            h1{
                position: absolute;
                font-size: 2.5vw;
                width: 40%;
                top: 12vw;
            }

            p{
                position: absolute;
                top: 20vw;
                width: 35%;
                font-size: 1vw;
                color: gray;
                font-weight: 500;
                line-height: 1.7;
            }

            .btm2{
                position: relative;
                height: 10vh;
                width: 13vw;
                top: 46vh;
                display: flex;
                white-space: nowrap;
    
                .box{
                    position: absolute;
                    top: 0vw;
                    left: 2vw;
                    padding: 1.5vw 6.3vw;
                    background-color: transparent;
                    border: 1px solid #FF0336;
                    transition: all ease 0.5s;
                }
    
                button{
                    position: absolute;
                    top: 1vw;
                    padding: 1.1vw 2vw;
                    font-size: 1.1vw;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #fff;
                    background-color: #FF0336;
                    outline: none;
                    border: 0;
                    transition: all ease 0.5s;
                }

                .arrow{
                    margin-left: 0.1vw;
                }
    
                
            }

            .btm2:hover{
                .box{
                    left: 0;
                    top: 1vw;
                }
            }
    
        }


       

        
        .btm:hover{

            .box{
                top: 1vw;
                left: 0;
                border: 1px solid #FF0336;
            }

            .main-btn{
                background-color: #FF0336;
            }
        }
    }

    .right{
        height: 100%;
        width: 50%;
        padding-top: 4vw;
        position: relative;

        .elem1{
            position: absolute;
            display: flex;
            gap: 7vw;

            .text{
                width: 6.5vw;
            }
        }

        .elem2{
            position: absolute;
            display: flex;

            .girl{
                margin-top: 4vw;
            }

            .air{
                position: absolute;
                top: 21vw;
                left: 23vw;
                width: 5vw;
                height: 5vw;
            }
        }
    }
}

@media screen and (max-width: 480px){

    .main-running{
        height: 150vh !important;
        flex-direction: column;
        padding-top: 10vw;
    
        .left{
            height: 100%;
            width: 100% !important;
    
            .top{
                position: relative;
                left: 8vw !important;
                top: -5vw;
    
                .titlebg{
                    position: absolute;
                    width: 65vw !important;
                }
                h1{
                    top: 2.4vw !important;
                    left: 13vw !important;
                    font-size: 5vw !important;
                }
            }
    
            .mid1{
                h5{
                    font-size: 8.5vw !important;
                    margin-left: -5vw;
                    text-align: center;
                    margin-top: 13vw !important;
                }
    
                p{
                    font-size: 4.5vw !important;
                    margin-top: 4vw;
                    font-weight: 500;
                    width: 90%;
                    text-align: center;
                    margin-left: 2vw;
                }
    
                .elems{
                    margin-top: 10vw !important;
                    margin-left: 25vw !important;
                    flex-direction: column;
    
                    .elem-img{
                        width: 20vw !important;
                        margin-left: 4vw;
                        margin-bottom: 7vw;
                    }
    
                    h6{
                        font-size: 5.5vw !important;
                        margin-left: -2vw !important;
                        width: 80%;
                        text-align: center;
                        margin-bottom: 2vw;
                    }
    
                    .elem2{
                        border-left: none !important;
                        border-right: none !important;
                    }
    
                    .elem{
                        width: 50%;
                        display: flex;
                        margin-top: 8vw !important;
                        flex-direction: column;
                    }
    
                    
                }
            }
    
    
            .btm1{
                top: 10vh !important;
                left: 15vw;
    
                .box{
                    top: -5vw !important;
                    left: 4vw !important;
                    padding: 6.5vw 25.3vw !important;
                }
    
                button{
                    padding: 5vw 8vw !important;
                    font-size: 5vw !important;
                    white-space: nowrap; 
                }
    
                
            }
    
            .btm1:hover{
    
                .box{
                    top: 1vw;
                    left: 0;
                    border: 1px solid #FF0336;
                }
    
                .main-btn{
                    background-color: #FF0336;
                }
            }
        }

        .right{
            display: none;
        }
    }
}

@media (max-width: 1024px){
    .main-running{
        height: 150vh !important;
        flex-direction: column;
    
        .left{
            height: 100%;
            width: 100% !important;
    
            .top{
                position: relative;
                left: 25vw;
                top: -5vw;
    
                .titlebg{
                    position: absolute;
                    width: 35vw;
                }
                h1{
                    top: 1.5vw;
                    left: 8vw;
                    font-size: 2.4vw;
                }
            }
    
            .mid1{
                h5{
                    font-size: 5.3vw;
                    margin-left: -5vw;
                    text-align: center;
                    margin-top: 3vw;
                }
    
                p{
                    font-size: 2.3vw;
                    margin-top: 2vw;
                    font-weight: 500;
                    width: 90%;
                    text-align: center
                    ;margin-left: 2vw;
                }
    
                .elems{
                    margin-top: 8vw;
                    margin-left: 5vw;
    
                    .elem-img{
                        width: 10vw;
                        margin-left: 4vw;
                        margin-bottom: 3vw;
                    }
    
                    h6{
                        font-size: 3vw;
                        margin-left: 0vw;
                        width: 80%;
                        text-align: center;
                        margin-bottom: 2vw;
                    }
    
                    .elem2{
                        padding-left: 2vw;
                        padding-right: 2vw;
                        border-left: 1px solid #dadada;
                        border-right: 1px solid #dadada;
                    }
    
                    .elem{
                        width: 50%;
                        display: flex;
                        margin-top: 5vw;
                        flex-direction: column;
                    }
    
                    
                }
            }
    
    
            .btm{
                top: 5vh !important;
                left: 20vw;
    
                .box{
                    top: -3vw;
                    left: 4vw;
                    padding: 5vw 20vw;
                }
    
                button{
                    padding: 5vw 10vw !important;
                    font-size: 5vw;
                    white-space: nowrap; 
                }
    
                
            }
    
            .btm:hover{
    
                .box{
                    top: 1vw;
                    left: 0;
                    border: 1px solid #FF0336;
                }
    
                .main-btn{
                    background-color: #FF0336;
                }
            }
        }

        .right{
            display: none;
        }
    }
}