.main-about{
    height: 265vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .content{
        width: 100%;
        position: absolute;

        .bg-img{
            height: 100%;
            width: 100%;
            position: absolute;
        }

        #page2{
            height: 100vh;
            width: 100%;
            position: relative;
           }

           #page3{
            height: 120vh;
            width: 80%;
            left: 10vw;
            margin-top: 5vw;
            margin-bottom: 5vw;
            background-color: #fff;
            position: relative;

            .top{
                height: 50%;
                width: 100%;
                position: relative;
                display: flex;

                .text{
                    height: 100%;
                    width: 50%;
                    padding: 5vw 8vw;
                    position: relative;

                    .history{
                        height: 5vw;
                        position: absolute;
                        left: 20vw;
                    }

                    h1{
                        position: absolute;
                       left: 15vw;
                        top: 11vw;
                        font-size: 2.5vw;
                    }

                    p{
                        position: absolute;
                        top: 15vw;
                        left: 10vw;
                        font-size: 1vw;
                        color: gray;
                        text-align: center;
                        font-weight: 500;
                        width: 65%;
                        line-height: 1.5;
                    }
                }

                .image{
                    height: 100%;
                    width: 50%;
                    

                    .about{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .btm{
                height: 50%;
                width: 100%;
                display: flex;

                .text{
                    height: 100%;
                    width: 50%;
                    padding: 5vw 8vw;
                    position: relative;

                    .history{
                        height: 5vw;
                        position: absolute;
                        left: 20vw;
                    }

                    h1{
                        position: absolute;
                       left: 15vw;
                        top: 11vw;
                        font-size: 2.5vw;
                    }

                    p{
                        position: absolute;
                        top: 15vw;
                        left: 10vw;
                        font-size: 1vw;
                        color: gray;
                        text-align: center;
                        font-weight: 500;
                        width: 65%;
                        line-height: 1.5;
                    }
                }

                .image{
                    height: 100%;
                    width: 50%;
                    

                    .about{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

           }
    }

   

}


@media screen and (max-width: 480px){
    .main-about{
        height: 330vh;
    
        .content{
    
            #page2{
                height: 90vh !important;
               }
    
               #page3{
                height: 200vh !important;
                width: 90%;
                left: 5vw;
    
                .top{
                    height: 50%;
                    flex-direction: column;
    
                    .text{
                        width: 100%;
                        padding: 5vw 8vw;
                        position: relative;
    
                        .history{
                            height: 20vw;
                            left: 35vw;
                        }
    
                        h1{
                           left: 15vw;
                            top: 27vw;
                            font-size: 9vw;
                            width: 100% !important;
                        }
    
                        p{
                            left: 0;
                            top: 39vw;
                            font-size: 3.5vw;
                            width: 100% !important;
                        }
                    }
    
                    .image{
                        height: 45%;
                        width: 100%;
                        position: absolute;
                        top: 70vw;
                    }
                }
    
                .btm{
                    flex-direction: column;
    
                    .text{
                        width: 100%;
                        top: 70vw;
                        padding: 5vw 8vw;
    
                        .history{
                            height: 20vw;
                            left: 35vw;
                        }
    
                        h1{
                           left: 15vw;
                            top: 28vw;
                            font-size: 9vw;
                        }
    
                        p{
                            top: 42vw;
                            left: 0vw;
                            font-size: 3.5vw;
                            width: 100%;
                        }
                    }
    
                    .image{
                        position: absolute;
                        height: 25%;
                        width: 100%;
                        top: 140vw;
                    }
                }
    
               }
        }
    
       
    
    }
}