.main-nav{
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 1vw 1.5vw;

    &.scrolled {
        background-color: #000; // Change this to the desired background color when scrolled
      }

    .h6-group{
        display: flex;
        align-items: center;
        gap: 2vw;

        .navlink{
            color: white;
            font-weight: 500;
            text-decoration: none;
        }

        .navlink:hover{
            color: #FF0336;
        }

        
    }


    .right-group{
        display: flex;
        align-items: center;
        position: relative;
        gap: 2vw;

        .profile{
            font-size: 1.7vw;
            color: #fff;
        }

        .profile:hover{
            color: #FF0336;
        }
        .menu-bars{
            font-size: 1.7vw;
            display: none;
        }
        .menu-bars:hover{
            color: #FF0336;
            cursor: pointer;
        }

        .main-nav-res{
            height: 100vh;
            width: 100vw;
            background-color: #fff;
            color: #000;
            position: fixed; /* Changed to fixed */
            top: 0; /* Adjust as needed */
            left: -25vw; /* Adjust as needed */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Adjust as needed */
            align-items: center; /* Adjust as needed */
            padding: 2vw; /* Adjust as needed */
            z-index: 9998; /* Lower than .main-nav to ensure it's behind the main navigation */
            overflow-y: auto;
            transition: left 0.5s ease; 

            &.open {
                left: 0;
                animation: slideIn 0.5s forwards;
              }
              
             &.close {
                 left: -25vw;
                 animation: slideOut 0.5s forwards; /* Apply slideOut animation when closing */
             }

             .cross-nav{
                font-size: 7vw;
                position: absolute;
                top: 20vw;
                right: 15vw;
                color: #FF0336;
                cursor: pointer;
             }

            .h6-group-res{
                display: flex;
                flex-direction: column;
                align-items: center;
                 gap: 7vw;
                 font-size: 5.5vw;
    
                 .navlink{
                    font-weight: 500;
                    text-decoration: none;
                }
    
                .navlink:hover{
                    color: #FF0336;
                    font-weight: 600;
                }
            }


            @keyframes slideInMenu {
                from {
                  transform: translateX(-100%);
                }
                to {
                  transform: translateX(0);
                }
              }

              @keyframes slideOutMenu {
                from {
                    transform: translateX(0%);
                  }
                  to {
                    transform: translateX(-100%);
                  }
            }
        }

       


        .menu{
            font-size: 1.7vw;
        }
        .menu:hover{
            color: #FF0336;
            cursor: pointer;
        }

        button{
            display: flex;
            align-items: center;
            padding: 0.5vw 1.9vw;
            border: 1px solid #a6a6a6;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.9vw;
            background-color: transparent;
            cursor: pointer;

            .plus{
                margin-left: -1.5vw;
                margin-right: 1vw;
                padding: 0.5vw;
                border-radius: 0.2vw;
                transition: transform 0.6s ease;
                background-color: #FF0336;

                .plus-sign{
                    font-size: 1.2vw;
                    font-weight: 700;
                }
            }

            .plus:hover{
                transform: rotate(360deg);
            }
        }


        .sidebar-menu { 
            height: calc(112vh - 12vh);
            width: 25vw;
            background-color: #fff;
            color: #000;
            position: fixed; /* Changed to fixed */
            top: 0; /* Adjust as needed */
            left: -25vw; /* Adjust as needed */
            display: flex;
            flex-direction: column;
            justify-content: flex-start; /* Adjust as needed */
            align-items: flex-start; /* Adjust as needed */
            padding: 2vw; /* Adjust as needed */
            z-index: 9998; /* Lower than .main-nav to ensure it's behind the main navigation */
            overflow-y: auto;
            transition: left 0.5s ease; 

            &.open {
                left: 0;
                animation: slideIn 0.5s forwards;
              }
              
             &.close {
                 left: -25vw;
                 animation: slideOut 0.5s forwards; /* Apply slideOut animation when closing */
             }
    
            .logo-img{
                position: absolute;
                width: 9vw;
                top: 2vw;
                left: 2vw;
            }
            .cross{
                font-size: 2vw;
                font-weight: 600;
                position: absolute;
                color: #FF0336;
                right: 2vw;
                top: 2.5vw;
                cursor: pointer;
            }

            .about{
                margin-top: 8vw;

                h6{
                    font-size: 1.3vw;
                    margin-bottom: 1vw;
                }
                p{
                    font-size: 1vw;
                    color: #a0a0a0;
                    line-height: 1.5;
                }
            }

            .gallery{
                display: flex;
                flex-shrink: 0;
                flex-wrap: wrap;
                gap: 1vw;
                margin-top: 8vw;

                h6{
                    position: absolute;
                    font-size: 1.3vw;
                    top: 28vw;
                }
                .img{
                    height: 6vw;
                    width: 6vw;
                    border-radius: 1vw;
                    overflow: hidden;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .contact{
                margin-top: 7vw;

                h6{
                    font-size: 1.3vw;
                    margin-bottom: 2vw;
                }
                p{
                    font-size: 1.1vw;
                    color: #a0a0a0;
                    margin-left: 1vw;
                }


                .social-icons{
                    display: flex;
                    align-items: center;
                    margin-top: 1vw;
                    color: #FF0336;
                }
            }

            .follow{
                margin-top: 7vw;
                display: flex;

                h6{
                    position: absolute;
                    font-size: 1.3vw;
                }

                .icon{
                    margin-top: 2.5vw;
                    margin-left: 1vw;
                    height: 2vw;
                    width: 2vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FF0336;
                    color: #fff;
                    border-radius: 50%;
                    font-size: 1.2vw;
                }
            }

            @keyframes slideIn {
                from {
                  transform: translateX(-100%);
                }
                to {
                  transform: translateX(0);
                }
              }

              @keyframes slideOut {
                from {
                    transform: translateX(0%);
                  }
                  to {
                    transform: translateX(-100%);
                  }
            }



    
            
            
        }
    }
  
}

@media screen and (max-width: 1024px){

    .main-nav{
        height: 15vh;
        padding: 1vw 2vw;

        .logo-img{
            width: 18vw;
            margin-left: 3vw;
        }

        .h6-group{
            display: none !important;
        }
    
        .menu-bars{
            display: block !important;
        }

        .right-group{
            gap: 5vw;
    
            .profile{
                font-size: 3vw;
            }

            .menu-bars{
                font-size: 3vw;
            }
    
            .menu{
                font-size: 3vw;
            }
    
            button{
                display: flex !important;
                padding: 1.2vw 2.5vw !important;
                font-size: 1.5vw ;
    
                .plus{
                    padding: 1vw !important;
    
                    .plus-sign{
                        font-size: 1.7vw;
                    }
                }
            }
    
    
            .sidebar-menu { 
                height: calc(112vh - 12vh);
                width: 100vw;
                padding: 3vw; 
    
                &.open {
                    left: 0;
                    animation: slideIn 0.5s forwards;
                  }
                  
                 &.close {
                     left: -25vw;
                     animation: slideOut 0.5s forwards; 
                 }
        
                .logo-img{
                    width: 30vw;
                    top: 5vw;
                    left: 5vw;
                }
                .cross{
                    font-size: 7vw;
                    right: 10vw;
                    top: 8vw;
                }
    
                .about{
                    margin-top: 25vw;
    
                    h6{
                        font-size: 5vw;
                        margin-bottom: 3vw;
                    }
                    p{
                        font-size: 4vw;
                    }
                }
    
                .gallery{
                    gap: 3vw;
                    margin-top: 25vw;
    
                    h6{
                        font-size: 5vw;
                        top: 80vw;
                    }
                    .img{
                        height: 25vw;
                        width: 25vw;
    
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
    
                .contact{
                    margin-top: 15vw;
    
                    h6{
                        font-size: 5vw;
                        margin-bottom: 5vw;
                    }
                    p{
                        font-size: 4vw;
                        margin-left: 4vw;
                    }
    
    
                    .social-icons{
                        margin-top: 2vw;
                        font-size: 4vw;
                    }
                }
    
                .follow{
                    margin-top: 15vw;
    
                    h6{
                        font-size: 5vw;
                    }
    
                    .icon{
                        margin-top: 10vw;
                        height: 10vw;
                        width: 10vw;
                        font-size: 5vw;
                    }
                }
    
                @keyframes slideIn {
                    from {
                      transform: translateX(-100%);
                    }
                    to {
                      transform: translateX(0);
                    }
                  }
    
                  @keyframes slideOut {
                    from {
                        transform: translateX(0%);
                      }
                      to {
                        transform: translateX(-100%);
                      }
                }
    
    
    
        
                
                
            }
        }
    
    
}
 } 

 @media screen and (max-width: 768px){

    .main-nav{
        height: 15vh;
        padding: 1vw 2vw;

        .logo-img{
            width: 33vw;
            margin-left: 3vw;
        }

        .h6-group{
            display: none !important;
        }
    
        .menu-bars{
            display: block !important;
        }

        .right-group{
            gap: 5vw;
    
            .profile{
                font-size: 6vw;
            }

            .menu-bars{
                font-size: 6vw;
            }
    
            .menu{
                font-size: 6vw;
            }
    
            button{
                display: none;
            }
    
    
            .sidebar-menu { 
                height: calc(112vh - 12vh);
                width: 100vw;
                padding: 3vw; 
    
                &.open {
                    left: 0;
                    animation: slideIn 0.5s forwards;
                  }
                  
                 &.close {
                     left: -25vw;
                     animation: slideOut 0.5s forwards; 
                 }
        
                .logo-img{
                    width: 30vw;
                    top: 5vw;
                    left: 5vw;
                }
                .cross{
                    font-size: 7vw;
                    right: 10vw;
                    top: 8vw;
                }
    
                .about{
                    margin-top: 25vw;
    
                    h6{
                        font-size: 5vw;
                        margin-bottom: 3vw;
                    }
                    p{
                        font-size: 4vw;
                    }
                }
    
                .gallery{
                    gap: 3vw;
                    margin-top: 25vw;
    
                    h6{
                        font-size: 5vw;
                        top: 80vw;
                    }
                    .img{
                        height: 25vw;
                        width: 25vw;
    
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
    
                .contact{
                    margin-top: 15vw;
    
                    h6{
                        font-size: 5vw;
                        margin-bottom: 5vw;
                    }
                    p{
                        font-size: 4vw;
                        margin-left: 4vw;
                    }
    
    
                    .social-icons{
                        margin-top: 2vw;
                        font-size: 4vw;
                    }
                }
    
                .follow{
                    margin-top: 15vw;
    
                    h6{
                        font-size: 5vw;
                    }
    
                    .icon{
                        margin-top: 10vw;
                        height: 10vw;
                        width: 10vw;
                        font-size: 5vw;
                    }
                }
    
                @keyframes slideIn {
                    from {
                      transform: translateX(-100%);
                    }
                    to {
                      transform: translateX(0);
                    }
                  }
    
                  @keyframes slideOut {
                    from {
                        transform: translateX(0%);
                      }
                      to {
                        transform: translateX(-100%);
                      }
                }
    
    
    
        
                
                
            }
        }
    }
    
} 

@media screen and (max-width: 480px){

    .main-nav{
        height: 15vh;
        padding: 1vw 4vw;

        .logo-img{
            width: 39vw;
            margin-left: 3vw;
        }

        .h6-group{
            display: none !important;
        }
    
        .menu-bars{
            display: block !important;
        }

        .right-group{
            gap: 6vw;
    
            .profile{
                font-size: 7.5vw;
            }

            .menu-bars{
                font-size: 7.5vw;
            }
    
            .menu{
                font-size: 7.5vw;
            }
    
            button{
                display: none;
            }
    
    
            .sidebar-menu { 
                height: calc(112vh - 12vh);
                width: 100vw;
                padding: 3vw; 
    
                &.open {
                    left: 0;
                    animation: slideIn 0.5s forwards;
                  }
                  
                 &.close {
                     left: -25vw;
                     animation: slideOut 0.5s forwards; /* Apply slideOut animation when closing */
                 }
        
                .logo-img{
                    width: 30vw;
                    top: 5vw;
                    left: 5vw;
                }
                .cross{
                    font-size: 7vw;
                    right: 10vw;
                    top: 8vw;
                }
    
                .about{
                    margin-top: 25vw;
    
                    h6{
                        font-size: 5vw;
                        margin-bottom: 3vw;
                    }
                    p{
                        font-size: 4vw;
                    }
                }
    
                .gallery{
                    gap: 3vw;
                    margin-top: 30vw;
    
                    h6{
                        font-size: 5vw;
                        top: 95vw;
                    }
                    .img{
                        height: 25vw;
                        width: 25vw;
    
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
    
                .contact{
                    margin-top: 15vw;
    
                    h6{
                        font-size: 5vw;
                        margin-bottom: 5vw;
                    }
                    p{
                        font-size: 4vw;
                        margin-left: 4vw;
                    }
    
    
                    .social-icons{
                        margin-top: 2vw;
                        font-size: 4vw;
                    }
                }
    
                .follow{
                    margin-top: 15vw;
    
                    h6{
                        font-size: 5vw;
                    }
    
                    .icon{
                        margin-top: 10vw;
                        height: 10vw;
                        width: 10vw;
                        font-size: 5vw;
                    }
                }
    
                @keyframes slideIn {
                    from {
                      transform: translateX(-100%);
                    }
                    to {
                      transform: translateX(0);
                    }
                  }
    
                  @keyframes slideOut {
                    from {
                        transform: translateX(0%);
                      }
                      to {
                        transform: translateX(-100%);
                      }
                }
    
    
    
        
                
                
            }
        }
    }
    
}




 