.main-footer{
    height: 55vh;
    width: 100%;
    display: flex;
    gap: 13vw;
    justify-content: center;
    margin-top: 8vw;

    .elem1{
        width: 25%;
        height: 100%;

        p{
            font-size: 1vw;
            font-weight: 600;
            color: gray;
            margin-top: 1vw;
            margin-bottom: 1.5vw;
            line-height: 1.5;
        }

        .social-icons{
            display: flex;
            gap: 2vw;
            margin-bottom: 1.5vw;

            div{
                height: 2.5vw;
                width: 2.5vw;
                border-radius: 50%;
                background-color: #e1e1e1;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(82, 75, 75);
                transition: all ease 0.5s;
            }
        }

        .social-icons div:hover {
            background-color: #FF0366;
            color: #fff;
        }

        h6{
            font-size: 1.1vw;
            font-weight: 500;
            color: gray;
        }
    }

    .elem2{
        h1{
            font-size: 1.5vw;
            border-bottom: 4px solid #FF0366;
        }

        h6{
            font-size: 1.05vw;
            font-weight: 500;
            color: gray;
            margin-top: 1.5vw;
            cursor: pointer;
        }

        h6:hover{
            color: #FF0366;
            font-weight: 600;
        }
    }


    .elem3{
        h1{
            font-size: 1.5vw;
            border-bottom: 4px solid #FF0366;
        }

        h5{
            color: gray;
            font-size: 1.1vw;
            margin-top: 1.5vw;
        }

        h6{
            font-size: 1vw;
            font-weight: 500;
            color: gray;
            margin-top: 1.3vw;
        }
    }
}


@media screen and (max-width: 480px){
    .main-footer{
        overflow: hidden !important;
        height: 150vh !important;
        width: 90% !important;
        flex-direction: column;
        gap: 3vw !important;
        margin-top: 15vw !important;
        margin-left: 4vw !important;
        justify-content:  start !important;
    
        .elem1{
            width: 100% !important;
            height: 40% !important;
    
            p{
                font-size: 4.3vw !important;
                margin-top: 2vw !important;
                margin-bottom: 7vw !important;
            }
    
            .social-icons{
                gap: 4vw !important;
                margin-bottom: 10vw !important;
    
                div{
                    height: 13vw !important;
                    width: 13vw !important;
                    font-size: 6vw !important;
                }
            }
    
            h6{
                font-size: 5vw !important;
            }
        }
    
        .elem2{
            width: 100% !important;
            margin-top: -15vw !important;
            margin-bottom: 15vw !important;

            h1{
                font-size: 9vw !important;
            }
    
            h6{
                font-size: 5vw !important;
                margin-top: 6vw !important;
            }
        }
    
    
        .elem3{
            width: 100% !important;

            h1{
                font-size: 9vw !important;
            }
    
            h5{
                font-size: 5.4vw !important;
                margin-top: 8vw !important;
            }
    
            h6{
                font-size: 5vw !important;
                margin-top: 10vw !important;
            }
        }
    }
}