.main-blog{
    margin-bottom: 15vw;

    #content{
        margin-left: 10vw;
        display: flex;

        #right{
            margin-left: 3vw;

            .elem1{
                margin-top: 5vw;

                .top{
                    display: flex;

                    .search-bar {
                        display: flex;
                        align-items: center;
                        position: relative;
    
    
                        input[type='text'] {
                            padding: 1.2rem 5rem;
                            font-size: 1.1vw;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                          }
    
                          .clear-search {
                            cursor: pointer;
                            color: #5577AF;
                            position: absolute;
                            right: 2vw;
                          }
    
                      }
    
                      .search-icon {
                        cursor: pointer;
                        padding: 0.95vw 1.2vw;
                        font-size: 1.6vw;
                        color: #fff;
                        position: absolute;
                        right: 11vw;
                        background-color: #FF0336;
                        border: 0;
                        border-top-right-radius: 0.4vw;
                        border-bottom-right-radius: 0.4vw;
                      }
                }

                .btm{
                    margin-top: 5vw;
                    padding: 1vw;
                    background-color: #F8F8F8;

                    h6{
                        font-size: 1.7vw;
                        margin-bottom: 0.4vw;
                    }

                    .line{                       
                    height: 0.3vw;
                    width: 4vw;
                    margin-bottom: 2vw;
                    background-color: #FF0336;
                    }

                    .categories{
                        display: flex;
                        width: 65%;
                        cursor: pointer;
                        margin-bottom: 2vw;
                        border-bottom: 1px solid #ccc;

                        .arrow-right{
                            font-size: 1.2vw;
                            margin-bottom: 1vw;
                            color: #646464;
                        }

                        p{
                            font-size: 1.05vw;
                            font-weight: 500;
                            color: #646464;
                        }
                        .four{
                            position: absolute;
                            right: 15vw;
                        }
                    }

                    .categories:hover{
                        p{
                            color: #FF0336;
                        }

                        .arrow-right{
                            color: #FF0336;
                        }
                    }
                }

                
            }

            .elem2{
                margin-top: 10vw;
                width: 30vw;
                padding: 1vw;
                background-color: #F8F8F8;

                h6{
                    font-size: 1.7vw;
                    margin-bottom: 0.4vw;
                }

                .line{                       
                height: 0.3vw;
                width: 4vw;
                margin-bottom: 2vw;
                background-color: #FF0336;
                }

                .posts{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1vw;

                    .img{
                        height: 8vw;
                        width: 8vw;
                        background-color: #eee;

                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .text{
                        margin-left: 2vw;
                        p{
                            font-size: 1vw;
                            margin-bottom: 1vw;
                            color: #646464;
                            font-weight: 500;
                        }

                        h6{
                            font-size: 1.2vw;
                            width: 80%;
                            cursor: pointer;
                        }

                        h6:hover{
                            color: #FF0336;
                        }
                    }
                }
            }

            .elem3{

                .top{
                    padding: 1vw;
                    height: 35vh;
                    width: 27vw;
                    background-color: #F8F8F8;
                    margin-top: 10vw;

                    h6{
                        font-size: 1.5vw;
                        margin-bottom: 0.4vw;
                    }
    
                    .line{                       
                    height: 0.2vw;
                    width: 4vw;
                    margin-bottom: 2vw;
                    background-color: #FF0336;
                    }

                    .btn{
                        width: 90%;

                        button{
                            cursor: pointer;
                            padding: 0.7vw 1vw;
                            font-size: 1vw;
                            font-weight: 500;
                            margin: 0.5vw;
                            border: 0;
                            background-color: #fff;
                        }

                        button:hover{
                            color: #FF0336;
                        }
                    }
                }

                .btm{
                    height: 80vh;
                    width: 28vw;
                    margin-top: 5vw;
                    position: relative;

                    img{
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        object-fit: cover;
                    }

                    .box{
                        position: absolute;
                        top: 2vw;
                        height: 3.5vw;
                        width: 12vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;

                        h1{
                            font-size: 2.1vw;
                        }
                    }

                    h6{
                        position: absolute;
                        top: 7vw;
                        left: 2vw;
                        font-size: 5vw;
                        color: #fff;
                    }

                    p{
                        font-size: 1.2vw;
                        font-weight: 600;
                        color: #fff;
                        top: 13vw;
                        left: 2vw;
                        position: absolute;
                    }
                }
            }
        }
    }

   
      
      
      
     
      
      
}